{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron">
            <h1>Welcome, {{ request.user }}!</h1>
            <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some
                responsive-range viewport sizes to see it in action.</p>
        </div>
        <div class="row">
            {% for article in articles %}
                <div class="col-xs-6 col-lg-4">
                    <h2><a href="{% url 'blog:show_article' article.id %}">{{ article.title }}</a></h2>
                    <img class="col-xs-12 col-lg-12 my_image_margin" src="/blog{{ article.image.url }}">
                    <p>{{ article.body | truncatewords:20 }}</p>
                        <p><a class="btn btn-danger text-left col-xs-3" href="{% url 'blog:delete_article' article.id %}"
                              role="button">delete</a></p>
                        <p><a class="btn btn-success text-right col-xs-3" href="{% url 'blog:edit_article' article.id %}"
                              role="button">edit</a></p>
                </div><!--/.col-xs-6.col-lg-4-->
            {% endfor %}
        </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->

{% endblock %}